<div style="padding:20px;">
    <%= form_tag('/master/broadcast') do %>
        <textarea name="message" style="width:700px;height:300px"></textarea>
        <input type="submit" value="send">
    <% end %>
</div>