<% if master_user_signed_in? %>
  <h4> メールアドレス： <%= current_master_user.email %> </h4>
  <%= link_to "ログアウト", destroy_master_user_session_path, data: { turbo_method: :delete } %>
<% else %>
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_master_user_session_path, class: 'post' %>
<% end %>