<div class="login-logo-container">
  <%= image_tag 'tomistagram_logo.png', class: 'login-logo' %>
</div>
<div class="login-button-container">
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= button_to image_tag('btn_login_base.png').html_safe, omniauth_authorize_path(resource_name, provider), class: 'login-button', data: { turbo: false } %>
  <% end %>
</div>