<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= image_tag 'tomistagram_logo.png', class: 'logo' %>
    </div>
</header>
<!--<div class="pictures-container">
    <% 50.times do %>
        <div class="image-container">
            <%= image_tag 'dummy.png', class: 'picture' %>
        </div>
    <% end %>
</div>-->
<div class="pictures-container">
    <% @pictures.each do |picture| %>
        <div class="image-container">
            <%= image_tag picture.file, class: 'picture' %>
        </div>
    <% end %>
</div>